.calendar__table {
  text-align: center;
  
  .table {
    display: inline-block;
  }

  h2 {
    text-align: center;
    margin-bottom: 10px;
  }

  & .namesOfDays{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    & > span {
      width: 100px;
      font-weight: 500;
    }
  }

  & .week {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .day {
      font-weight: 700;
      height: 100px;
      width: 100px;
      padding: 5px;
      border: 1px solid #e2e3e3;
      border-collapse: collapse;
      border-bottom: 0;
      border-left: 0;
    }

    .event {
      position: absolute;
      margin: -5px;
      border: 1px solid black;
      width: 100px;
    }

    .freeDay {
      background-color: #f9fff8 ;
    }

    .otherDays {
      color: lightgray;
    }
  }




}

// <span class="event" style="position: absolute;left: 300px;width: 300px;display: flex;background-color: blue;border: 1px black solid;border-radius: 2px;padding: 2px;height: 20px;flex-direction: column;">Event 1</span>